@CHARSET "UTF-8";

#headDiv{
	background: #D1EEEE;
	width: 100%;
	height:7%;
}

#left-menu{
	width: 19%;
	height:91%;
	font-size: 13px;
	
	float:left;
	background: #D1EEEE;
}



#hide-button{
	/* width: 1%;
	height:91%;
	background: blue;
	float:left; */
}


#main-content{
	background-color:#EDEDED;
	width:81%;
	height:91%;
	float:left;
}

#ul-menu{
	margin-left:0px;
	margin-right:0px; 
	margin-top:0px; 
	margin-bottom:0px; 
}

#left-menu-li  {
	margin-left:0px;
	font-size: 15px;
}

#left-menu-li a {
	float:left;
	margin-bottom:2px;
	text-decoration:none;
	
}

#left-menu-li span {
	
}

#left-menu-li a:hover {
	background-color:#D1EEEE;
}


#footer-copyright{
	background-color:#D1EEEE;
	clear:both;
	width: 100%;
	height:2%;
	text-align:center;
}

.leftnav-hideBtn {
	z-index: 0;
	float: right;
	position: relative;
	width: 10px;
	height: 10px;
	background: gray;
}

.leftnav-title {
	height: 40px;
	background: url(../images/bg.jpg) no-repeat 0 -1000px;
	color: #FFF;
	padding-left: 15px;
	font-size: 14px;
	line-height: 50px;
}

.leftnav-title span {
	margin-right: 10px;
}

.leftnav h2 {
	padding: 10px 0 10px 5px;
	transition: all .1s ease-in-out;
	display: block;
	cursor: pointer;
	font-weight: bold;
	font-size: 14px;
	border-top: 1px solid #b5cfd9;
	background: gray;
}

.leftnav h2.on {
	color: #09c;
}

.leftnav .border-bottom {
	border-bottom: 1px solid #b5cfd9;
}

.leftnav h2 span {
	margin-right: 1px;
}

.leftnav h2:hover {
	color: #09c;
}


.hr0{ height:1px;border:none;border-top:1px dashed #1E90FF;}  
.hr1{ height:1px;border:none;border-top:1px solid #000;}  
.hr2{ height:3px;border:none;border-top:3px double #6B8E23;}  
.hr3{ height:5px;border:none;border-top:5px ridge #45D6D8;}  
.hr4{ height:10px;border:none;border-top:10px groove #FF8C00;}  
.hr5{ height:10px;border:none;border-top:10px groove #FF8C00;}