@CHARSET "UTF-8";
.panel{background:red;border:solid 1px #ddd;border-radius:4px;}
.admin{background:#fff;position:fixed;border-left:solid 1px #b5cfd9;
	right:0;bottom:0;top:110px;left:130px; padding:15px; padding-right:0px;
	padding-bottom:0px; overflow:auto; border-top:1px solid #b5cfd9;
	padding-right:15px;}
.panel-head{background-color:#fcfcfc;padding:10px 15px;
	border-radius:4px 4px 0 0;border-bottom:solid 1px #ddd;}
